# VARIABLES:

En Python existen tres tipos de variables:
- Numéricas.
- Texto.
- Booleanas.

In [1]:
# Variables numéricas
num_entero = 5
num_decimal = 2.3

In [2]:
# Variables de texto
nombre = 'Adrian'
apellido = "Arroyo"

In [3]:
# Variables booleanas
is_true = True
is_false = False

In [7]:
# Para comprobar el tipo de variable utilizamos -> type()
print(type(num_entero))
print(type(num_decimal))
print(type(nombre))
print(type(apellido))
print(type(is_true))
print(type(is_false))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>

In [9]:
# Conversión de una variable en otra (casting).
str_num = str(num_entero)
type(str_num)

str

In [12]:
# Inputs
name = input("¿Cuál es tu nombre?")
age = input("¿Cuál es tu edad?")
f'Me llamo {name} y tengo {age} años.'

¿Cuál es tu nombre? Adrian
¿Cuál es tu edad? 25

'Me llamo Adrian y tengo 25 años.'