# VARIABLES - PRÁCTICA

#### EJERCICIO 1:
Crea una variable llamada `nombre` que almacene tu nombre. Luego imprime:<br>
Hola, mi nombre es 'nombre':

In [1]:
nombre = 'Adrian'
f'Hola, mi nombre es {nombre}.'

'Hola, mi nombre es Adrian.'

#### EJERCICIO 2:
Crea una variable `edad` con tu edad y muestra su tipo con type().<br>
Conviértela en `str` e imprime una frase como:<br>
"Tengo 'edad' años y mi edad es de tipo 'tipo'".

In [3]:
edad = 25
print(type(edad))
edad = str(edad)
f'Tengo {edad} años y mi edad es de tipo {type(edad)}'

<class 'int'>

"Tengo 25 años y mi edad es de tipo <class 'str'>"

#### EJERCICIO 3:
Declara una variable `ciudad` con el nombre de tu ciudad actual.<br>
Reasígnala para que contenga una ciudad diferente.<br>
Imprime el resultado antes y después de la reasignación.

In [9]:
ciudad = 'Madrid'
print('Mi ciudad actual es',ciudad)
ciudad = 'Tokyo'
f'La ciudad reasignada es {ciudad}.'

Mi ciudad actual es Madrid

'La ciudad reasignada es Tokyo.'

#### EJERCICIO 4:
Declara dos variables `num1` y `num2`<br>
Imprime su suma, resta, multiplicación y división.

In [11]:
num1 = 10
num2 = 5

suma = num1 + num2
resta = num1 - num2
multiplicacion = num1 * num2
division = num1 // num2

f'La suma es {suma}, la resta es {resta}, la multiplicación es {multiplicacion}, y la division es {division}.'

'La suma es 15, la resta es 5, la multiplicación es 50, y la division es 2.'

#### EJERCICIO 5:
Declara una variable `altura` y otra variable `peso`<br>
Convierte `altura` y `peso` en float y úsalos para calcular el IMC.

In [12]:
altura = '1.73'
peso = 65.5

altura = float(altura)
imc = peso/(altura**2)

f'El IMC es de {imc}.'

'El IMC es de 21.88512813658993.'

#### EJERCICIO 6:
Crea una variable `es_estudiante`<br>
Imprime una frase que use esa variable.

In [13]:
es_estudiante = True
print("¿Eres estudiante?", es_estudiante)

¿Eres estudiante? True

#### EJERCICIO 7:
Mini ficha personal:<br>
Crea 4 variables: `nombre`, `edad`, `altura`, `es_estudiante`.
- Usa input para pedir el nombre y la edad.
- Convierte la edad en int.
- Altura puede ser un float fijo.
- es_estudiante puede ser True o False.

In [20]:
nombre = input('¿Cómo te llamas?')
edad = input('¿Cuál es tu edad?')
altura = 1.73
es_estudiante = True

edad = int(edad)

f'''Ficha personal:
    - Nombre: {nombre}
    -Edad: {edad} años.
    -Altura: {altura}m.
    -Estudiante: {es_estudiante}'''

¿Cómo te llamas? Adrian
¿Cuál es tu edad? 25

'Ficha personal:\n    - Nombre: Adrian\n    -Edad: 25 años.\n    -Altura: 1.73m.\n    -Estudiante: True'

#### EJERCICIO 8:
Crea dos variables `a` y `b`<br>
Intercambia sus valores sin usar variables temporales.

In [21]:
a = 5
b= 10

a,b = b,a

f'La variable a vale: {a}, y la variable b vale: {b}.'

'La variable a vale: 10, y la variable b vale: 5.'